<html lang="en">
<head>
	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="client.js"> </script>

	<div class=header> 
	Online Database <br> 
	Web Development <br>
	Andrew Johnson	<br>
	</div>
	
	<p class=tableTitle The current database data is below: </p>

<title> WebDevelopment Final Project</title>
	
</head>

{{{body}}}

</html>