
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>API Explanation, Have I been Pwned API</title>

<div class="header"
<h3>API Guide Assignment, Web Development</h3>
<br>
Andrew Johnson
</div>


<body>

<div class=toptitle>
Implementation of the 2nd version of the HIBP API using content negotiation
</div>

<p  class=textPar> The best option to use in my opinion with the 2nd version of the API is to specify in the request header the version, and to also specify in the request header the user agent. 
The user agent is the service that is requesting the information, it is required, but you can just make one up, you do not need to have registered it or anything like that. 
So to use the first version of the API, you merely use a get request with the url. 
To use the 2nd version of the API the best method is to use the url: </p>

<div class=code>
GET https://haveibeenpwned.com/api/{service}/{parameter}
</div>
<p class=textPar>And to specify in the request header: </p>
<div class=code>
Accept=application/vnd.haveibeenpwned.v2+json
</div>

<p class=textPar>	You must also specify in the accept header a user-agent. The user-agent is used to identify the program making the request.  
In the request below, I create a simple webpage that makes a request to HIBP using the 2nd version of the API. 
I have an old email of mine that was leaked hardcoded in this example, you could add your own, or make it user supplied very easily. 
These three lines set that up the required content negotiation header (to specify v2 of the API) and the user-agent header: </p> 

<div class=code>
<pre>
req.open('GET', sendAddress, true);
req.setRequestHeader("Accept", "application/vnd.haveibeenpwned.v2+json");
req.setRequestHeader("User-Agent", 'OSUTest');
</pre>
</div>

<p class=textPar>The setRequestHeader lines set the content negotiation options (that dictate that we are using version 2 of the API) and also set the user agent, which is required by the API. 
If you do not send a User-Agent you will get a 403 error, no user agent specified. 
In this HTML page I do an AJAX request using that hard coded email. 
The response received is printed out to console, use Chrome and control+shift+J to view what is returned. 
You can easily integrate this into your webpage as well. </p>

<div class=code>

<pre>

&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;script&gt;
	console.log("Getting to request");
		var req = new XMLHttpRequest();
				
		var sendAddress = 'https://haveibeenpwned.com/api/breachedaccount/alanmandrag@hotmail.com';
				
		
		req.open('GET', sendAddress, true);
		req.setRequestHeader("Accept", "application/vnd.haveibeenpwned.v2+json");
		req.setRequestHeader("User-Agent", 'OSUTest');

		req.addEventListener('load',function()
		{
			if(req.status &gt;= 200 && req.status &lt; 400)
			{
				console.log("Request received back!");
				//var response = JSON.parse(req.responseText);
				console.log("Response Reads ", req.responseText);

			}
			else
			{
				console.log("error, the network request failed " + request.statusText);
			}
					
					
					
			});
			
		req.send(null);
    &lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;/body&gt;
&lt;/html&gt;

&lt;/div&gt;
&lt;/body&gt;

</pre>

</div>

<a href="http://ec2-52-26-46-121.us-west-2.compute.amazonaws.com:1925/taleoftwoAPIs">Previous Page</a> <a href="http://ec2-52-26-46-121.us-west-2.compute.amazonaws.com:1925/customAPI">Next Page</a> 
