

<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>API Explanation, Have I been Pwned API</title>

<div class="header"
<h3>API Guide Assignment, Web Development</h3>
<br>
Andrew Johnson
</div>

<body>
<div class=toptitle>
Very Lax API Rules
</div>
<p class=textPar> HIBP has very lax API usage rules. No API key is necessary, there is no limiting on the number of requests. 
You must use SSL, but it will just convert your request if you do not. 
Cross-Origin Resource Sharing is also fully allowed.  </p>

<p class=textPar>	Version 1 of the API is much simpler, and does not require an API key or any specification of who is making the request. 
Version 2 of the API still does not require an API key or registration, but does require that there be a User-Agent specified in the request header. 
More on both of these APIs on the next page. 
This data is all available elsewhere on the internet in bulk form so the owner of the webpage is not overly concerned with someone abusing the service.  </p> 

<a href="http://ec2-52-26-46-121.us-west-2.compute.amazonaws.com:1925">Previous Page</a> <a href="http://ec2-52-26-46-121.us-west-2.compute.amazonaws.com:1925/taleoftwoAPIs">Next Page</a> 
</body>

