
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>API Explanation, Have I been Pwned API</title>

<div class="header"
<h3>API Guide Assignment, Web Development</h3>
<br>
Andrew Johnson
</div>

</head>
<body>
<div class=toptitle>
Introduction
</div>
<p class=textPar> The website haveibeenpwned.com ((HIBP) is a website that collects the username/password/any other available data from leaks that have occurred from various companies/websites. 
The information is quite detailed, and is available to search particular addresses. </p>

<p class=textPar>	The point of the website is that you can see if any of the accounts that you have created have been compromised. If passwords were leaked, it will tell you that as well. 
If a password was leaked, you should change any other account you might use that password on. </p> 

<p class=textPar>HIBP has an API that is publically available. It is on the simpler side of API’s, but can take a bit to get set up. 
You can get their documentation at <a href="https://haveibeenpwned.com/API/v2">Have I been Pwned API documentation</a> </p>

<a class=nextLink href="http://ec2-52-26-46-121.us-west-2.compute.amazonaws.com:1925/laxAPI">Next Page</a>

</body>
